@CHARSET "UTF-8";

.book{
	display:inline-block;
	width: 75%; 
	text-align: center;
}
.center{
	text-align: center;
}
.rightSort{
	text-align: right;
}
.trSize1{
	height: 30px;
	font-size: 20px;
	font: bold;
}
.trSize2{
	height: 25px;
	font-size: 15px;
}
.tdStyle1{
	text-align: right;
}
.tdStyle2{
	text-align: center;
}
