@CHARSET "UTF-8";
@import url("common.css");
img{border:none}
#wrap{
	width: 99%;
	text-align: left;/*글자정렬 왼쪽*/
	margin: 0;
	margin-right: auto;/*환경에 맞게 자동 설정*/
	margin-left: auto;
	/* background-image: url("../../image/4.gif");
	background-repeat: repeat-y; */
	/*
	만약 배경 이미지 작으면 이미지 반복으로 채우기
	*/
	min-height: 500px;
	/*
	모니터에 따라 신축성있게 헤더가 축소되지만
	최소한 750px 은 유지 하고
	그 이하가 되면 잘리도록 하는 것
	*/
	 
}
#top{
	height: 200px;
	margin: 0;
	padding: 0;
	
}
.clear{
	clear: both;
}
#logo{
	float: left;
	margin: 40px 0 0 40px;
	width: 270px;	
}
#login{
	float: right;
	margin: 20px 60px 0 0;
	font-family: Arial, Helvetico, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
	
}
#login a{
	text-decoration: none;
	color: #333;
}
login a:HOVER {
	color: #F90;
}
nav#topmenu{
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
	
}
nav#topmenu ul{
	list-style: none;
	font-family: Arial, Helvetico, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}
nav#topmenu ul li{
	float: left;
	margin: 0 5px;
	
}
nav#topmenu a{
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333;
	
}
nav#topmenu a:HOVER {
	
}

footer hr{
	width: 70%;
	margin: 0 0 0 15px;
}


