@CHARSET "UTF-8";
@IMPORT url("common.css");
/* 좌측 컨텐츠가 있는 프레임 */
article{
	width: 70%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: 0px 0;
	background-color: #ff6;
	float: left;
}
.LeftContent{
	padding-top : 0px; /* 부모태그인 위 article 을 -50px을 주어서 그것을 상쇄시키기 위해 50을 줌 */	
	
}
/* 우측 사이드 */
aside{
	width:30%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: 0px 0;
	background-color: RED;
	float : right; /* float는 떠 있다는 뜻으로 우측정렬을 시키라는 뜻 */
}
H1{
	font-size: 30px;
}
H2{
	font-size: 21px
}