@CHARSET "UTF-8";

body{
	font-family: "맑은 고딕";
	font-size: 0.75em;
	color:#333;
	line-height: 1.8em;
}
ul.multi{/* .multi 라고 주는 것과 의미상 동일하다. 다만 가독성과 유지보수에 좋다.*/
	margin: 0;
	padding: 0;
	
}
ul.multi li{
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none; /* 세로 출력되는것을 none 시킨다 */
/* 	background-position: left center; */
	background-image: url("../../image/bluePoint.png");
	background-repeat: no-repeat;
	background-position: left-center;

}
ul.multi ul li{
	list-style: decimal;/* 리스트 타입을 숫자로 지정 */
	margin: 0 0 0 5px;
	padding: 0;
	background-image: none;
}
ul.multi ul ul li{
	margin: 0 0 0 -20px;
	padding: 0 0 0 15px;
	list-style: none;/* 리스트 타입을 none으로 지정하여 상속되는 것을 막는다.*/
	background-image: url("../../image/bluePoint.png");
	background-repeat: no-repeat;
	background-position: left-center;
	
}