@CHARSET "UTF-8";
@IMPORT url("common.css");
/* 좌측 사이드 */
aside{
	width:30%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: 0px 0;
	background-color: RED;
	float : left; 
}
.leftSide{
	padding-top: 50px;
}
.topMenu{
	float : left;
	width: 40%;
	height:  200px;
	
}
/*우측 컨텐츠 */
article{
	width: 70%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: 0px 0;
	background-color: #FF6;
	float : right;
}
.rightContent{
	padding-top: 50px;
}
